/****** colors ******/

$dark-purple: #864586;
$light: #f5f8f6;
$grey-light: #dcdcdc;
$grey-dark: #8f8f8f;

/****** main style ******/
body {
  background: $light;
}
* {
  color: $dark-purple;
}

.text-color {
  color: $dark-purple !important;
}
