/****** error message ******/

.error {
  visibility: visible;
}
.error-box {
  height: 2rem;
}

.search-error-msg {
  background: #e6e4e4;
  background-image: linear-gradient(90deg, #e6e4e4, #8f8f8f 180%);
}
