/****** error message ******/

.error {
  visibility: visible;
}
.error-box {
  height: 2rem;
}

.search-error-msg {
  background: $creamy-grey;
  background-image: linear-gradient(90deg, $creamy-grey, $grey-dark 180%);
}
