/****** search list items style ******/
.input-back {
  background: $creamy-light !important;
}
::placeholder {
  color: $dark-purple !important;
}
.parent-box {
  position: relative;
}

.search-list-box {
  background: $creamy-light;
  width: 10.8rem;
  position: absolute;
  top: 4.1rem;
  z-index: 1;
}
.li-item {
  background: $creamy-light;
  list-style: none;
  list-style-position: outside;
  width: 11.7rem;
  padding-right: -3rem;
}
.li-item:hover {
  background: $creamy-grey;
  background-image: linear-gradient(90deg, $creamy-light, $creamy-dark 50%);
}
