/****** style for date picker element ******/

.date-style {
  padding: 0.4rem;
  border-style: none;
  color: $dark-purple;
}

.form-control:focus {
  border-color: $light;
  box-shadow: 0 0 0 0.2rem $light-shadow;
}
