// colors

$dark-purple: #864586;
$light: #fdfdfd;
$grey-light: #dcdcdc;
$grey-dark: #8f8f8f;

// error message colors
$creamy-grey: #e6e4e4;

// visited element style color
$grey-light-glass: #dcdcdc99;

// button focus shadow
$light-shadow: #f7f4f466;
$warm-light: #f8f5f5;

// search list items style colors
$creamy-light: #f3f3f3;
$creamy-dark: #e9e9e9;

// spinner colors
$light-back: #faf7f73a;
$back-gradient-1: #22222213;
$back-gradient-2: #41414118;

$purple-grey-1: hsl(300, 11%, 85%);
$purple-grey-2: hsl(300, 10%, 70%);
$purple-grey-3: hsl(300, 10%, 55%);
$purple-grey-4: hsl(300, 10%, 40%);
$purple-grey-5: hsl(300, 10%, 35%);
